:root {
	// color
	--cl--black: #000;
	--cl--blue10: #2e4994;
	--cl--blue20: #3457b1;
	--cl--blue30: #3e6ae1;
	--cl--green: #12bb00;
	--cl--grey10: #171a20;
	--cl--grey15: #222;
	--cl--grey20: #393c41;
	--cl--grey25: #444;
	--cl--grey30: #5c5e62;
	--cl--grey35: #8e8e8e;
	--cl--grey40: #a2a3a5;
	--cl--grey45: #bbb;
	--cl--grey50: #d0d1d2;
	--cl--grey60: #e2e3e3;
	--cl--grey65: #eee;
	--cl--grey70: #f4f4f4;
	--cl--red10: #b74134;
	--cl--red20: #ed4e3b;
	--cl--white: #fff;
	--cl--yellow: #fbb01b;
	--cl--blur: rgba(32, 32, 32, 0.1);

	//font
	--ff--main: "Montserrat", sans-serif;
	--fw--regular: 400;
	--fw--medium: 500;
	--fw--semi-bold: 600;
	--fw--bold: 700;
	--fs--12: 1.2rem;
	--fs--14: 1.4rem;
	--fs--40: 4rem;
	--lh--48: 4.8rem;
	--lh--20: 2rem;

	//shadow
	--sh-large: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
}
