header {
	width: 100%;
	padding: 0 3.2rem;
	position: fixed;
	top: 0;
	.header {
		&__wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 5.6rem;
		}
		&__logo {
			color: var(--cl--grey10);
		}
		&__nav {
			ul {
				display: flex;
				font-weight: var(--fw--semi-bold);
				li {
					padding: 0.6rem 1.6rem;
					cursor: pointer;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: var(--cl--blur);
						border-radius: 1.2rem;
						opacity: 0;
						transition: opacity 0.3s ease-out;
					}
					&:hover {
						color: var(--cl--grey20);
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
