header {
	width: 100%;
	padding: 0 3.2rem;
	position: fixed;
	top: 0;
	z-index: 99;
	.header {
		&__wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 5.6rem;
		}
		&__logo {
			color: var(--cl--grey10);
		}
	}
}
