* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	block-size: -webkit-fill-available;
	overflow: hidden;
	// scroll-behavior: smooth;
}

body {
	color: var(--cl--grey10);
	font-family: var(--ff--main);
	font-weight: var(--fw--regular);
	@include clamp-cal(100rem, 192rem, 1.2rem, 1.4rem);
	line-height: var(--lh--20);
	letter-spacing: 0.05rem;
}

main {
	overflow-y: scroll;
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
	scroll-snap-type: y mandatory;
}

a {
	color: inherit;
	text-decoration: none;
}
